@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f2f2f2;
}
html {
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}

/* Swiper */
.swiper-button-next:after,
.swiper-button-prev:after {
  color: #fff;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #60a5fa !important;
}

@layer components {
  /* Header */
  .header-link {
    @apply cursor-pointer py-3 text-sm font-semibold text-gray-400 border-b-[3px] border-b-transparent;
  }

  /* Section */
  .section-heading {
    @apply text-3xl text-center mt-6 font-bold;
  }

  /* Text */
  .global-text-wrapper {
    @apply flex justify-between whitespace-nowrap text-sm sm:text-lg;
  }

  /* Input */
  .global-input {
    @apply w-full px-4 py-2 text-xl text-gray-700 bg-white border border-gray-300 rounded transition duration-150 ease-in-out focus:text-gray-700 focus:bg-white focus:border-slate-600;
  }

  /* Home */
  .home-show-more-text {
    @apply px-3 text-sm text-blue-600 hover:text-blue-800 transition duration-150 ease-in-out;
  }
  .home-heading-2 {
    @apply px-3 text-2xl mt-6 font-semibold;
  }
  .home-listing-wrapper {
    @apply sm:grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4;
  }

  /* Profile */
  .profile-input {
    @apply mb-6 w-full px-4 py-2 text-xl text-gray-700 bg-white border border-gray-300 rounded transition ease-in-out;
  }

  /* Listing */
  .listing-list {
    @apply flex items-center whitespace-nowrap;
  }

  /* Create/Edit Listing */
  .create-listing-button {
    @apply px-7 py-3 font-medium text-sm uppercase shadow-md rounded hover:shadow-lg focus:shadow-lg active:shadow-lg transition duration-150 ease-in-out w-full;
  }

  /* Sign in, Sign up, Forget password */
  .signin-wrapper {
    @apply flex justify-center flex-wrap items-center px-6 py-12 max-w-6xl mx-auto;
  }
  .signin-img-wrapper {
    @apply md:w-[67%] lg:w-[50%] mb-12 md:mb-6;
  }
  .signin-input {
    @apply w-full px-4 py-2 text-xl text-gray-700 bg-white border-gray-300 rounded transition ease-in-out;
  }
  .signin-link-1 {
    @apply text-red-600 hover:text-red-700 transition duration-200 ease-in-out ml-1;
  }
  .signin-link-2 {
    @apply text-blue-600 hover:text-blue-800 transition duration-200 ease-in-out;
  }
  .signin-button {
    @apply w-full bg-blue-600 text-white px-7 py-3 text-sm font-medium uppercase rounded shadow-md hover:bg-blue-700 transition duration-150 ease-in-out hover:shadow-lg active:bg-blue-800;
  }
  .signin-or-wrapper {
    @apply flex items-center  my-4 before:border-t before:flex-1 before:border-gray-300 after:border-t after:flex-1 after:border-gray-300;
  }
  .password-icon {
    @apply absolute right-3 top-3 text-xl cursor-pointer;
  }
}
